html{
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	overflow-x: hidden;
}
body {
	width: 100%;
	color: black;
	background: white;
	padding: 0;
	margin: 0;
	nav{
		position: relative;
		z-index: 1;
		width: 80%;
		padding: 10px 10%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.site-branding{
			display: inline-block;
			width: 250px;
			img{
				width: 100%;
				height: auto;
			}
		}
		ul{
			display: inline-flex;
			align-self: flex-end;
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 45%;
			li{
				display: inline-block;
				padding: 0 20px;
				a{
					text-transform: uppercase;
					color: black;
					text-decoration: none;
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-weight: 500;
					font-size: 16pt;
				}
			}
		}
	}
	&.second{
		content{
			.section{
				&#banner{
					height: 100vh;
					.bg_image{
						img{top: -275px;}
					}
					.banner_text {
						.main {
							margin-top: 25%;
							.middle {
								font-size: 90pt;
								font-weight: 700;
							}
						}
						.text {
							width: 30%;
							margin-top: 100px;
							p {
								font-size: 18pt;
								margin-bottom: 20px;
								line-height: 42px;
								text-indent: 0;
								&.medium{
									font-size: 22pt;
									font-weight: 700;
									margin-bottom: 0px;
								}
							}
						}
					}
				}
				&#one{
					background: url(../img/black_bg_reverse.png) no-repeat;
					background-size: 100% 100%;
					height: 200vh;
					margin-bottom: 0;
					.inner{
						&.one{
							left: 50%;
							width: 50%;
							top: 20%;
							.text{
								width: 100%;
								.main{
									text-transform: uppercase;
									color: $main-color;
									line-height: 70px;
									font-family: 'Montserrat', sans-serif;
									margin-bottom: 15px;
									display: inline-block;
									.top{
										font-weight: 700;
										font-size: 35pt;
									}
									.bottom{
										font-weight: 700;
										font-size: 85pt;
									}
								}
								p{
									width: 75%;
								}
							}
						}
						&.two{
							width: 100%;
							max-width: 1000px;
							margin: 0 auto;
							top: 25%;
							right: 0;
							display: flex;
							position: relative;
							justify-content: space-around;
							.half{
								display: inline-flex;
								width: 50%;
								text-align: left;
								&.one{
									blockquote{
										color: $main-color;
										line-height: 48px;
										font-family: 'Montserrat', sans-serif;
										display: inline-block;
										font-size: 30pt;
										font-weight: 700;
										margin: 0;
										width: 85%;
									}
								}
								&.two{
									border-left: 5px solid $main-color;
									padding-left: 50px;
									ul{
										list-style: none;
										padding: 0;
										margin: 0;
										width: 65%;
										li{
											font-family: 'Lato', sans-serif;
											font-weight: 400;
											color: white;
											font-size: 25pt;
											margin-bottom: 20px;
										}
									}
								}
							}
						}
					}
				}
				&#two{
					margin-top: -10%;
					.bg_image {
						display: inline-block;
						width: 100%;
						height: 115%;
						position: relative;
						margin-top: -15%;
						img {
							position: relative;
							top: 0;
							left: 0;
							display: inline-block;
							width: 100%;
							height: auto;
						}
					}
					.inner{
						left: 15%;
						width: 25%;
						top: -100px;
						position: absolute;
						z-index: 10;
						height: 100%;
						.main{
							line-height:80px;
							text-transform: uppercase;
							.top{
								font-weight: 400;
								font-size: 45pt;
							}
							.bottom{
								font-weight: 700;
								font-size: 90pt;
							}
						}
						.products{
							position: absolute;
							top: 1140px;
							left: -10px;
							.prod_one {
								position: absolute;
								bottom: 0;
								img {
									position: relative;
									left: -10px;
									bottom: 0;
								}
							}
							.prod_two {
								position: absolute;
								bottom: 0;
								img {
									position: relative;
									bottom: -60px;
									width: 250px;
									left: 125px;
								}
							}
							.shop{
								top: 50px;
								position: relative;
								background: $main-color;
								display: inline-block;
								padding: 12.5px 20px;
								font-family: 'Montserrat', sans-serif;
								font-weight: 700;
								text-decoration: none;
								color: black;
								text-transform: uppercase;
								font-style: 10pt;
								-webkit-border-radius: 5px;
								-moz-border-radius: 5px;
								border-radius: 5px;
							}
						}
					}
				}
			}
		}
	}
	content{
		display: inline-block;
		overflow: hidden;
		.section{
			display: flex;
			width: 100%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			.main{
				color: black;
				line-height: 100px;
				font-family: 'Montserrat', sans-serif;
				line-height: 40px;
			}
			p {
				font-size: 15pt;
				line-height: 30px;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
			}
			&#banner{
				width: 100vw;
				height: 100vh;
				min-height: 750px;
				flex-direction: column;
				align-content: center;
				justify-content: space-around;
				&:after{
					content: '';
					display: inline-block;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: auto;
					background: black;
				}
				.bg_image {
					display: inline-block;
					width: 100%;
					height: auto;
					position: absolute;
					overflow-x: hidden;
					top: 0;
					img {
						position: relative;
						top: -50%;
						left: -27.5%;
						display: inline-block;
						width: 215%;
						height: auto;
					}
				}
				.banner_text{
					position: relative;
					z-index: 1;
					width: 100%;
					.main{
						text-transform: uppercase;
						padding-left: 10%;
						margin-top: 5%;
						.top{
							font-weight: 400;
							font-size: 55pt;
						}
						.middle{
							font-weight: 700;
							font-size: 95pt;
						}
						.bottom{
							font-weight: 400;
							font-size: 55pt;
						}
					}
					.text{
						margin-top: 45px;
						padding-left: 10%;
						width: 38%;
						p{
							margin: 0 0;
							text-indent: 5px;
						}
					}
				}
			}
			&#one{
				position: relative;
				width: 100vw;
				height: 350vh;
				min-height: 1750px;
				z-index: 1;
				margin-bottom: -40%;
				background: url("../img/black_bg.png") no-repeat;
				background-size: 100% 100%;
				display: inline-block;
				.bg_image {
					display: inline-block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 25%;
					z-index: 0;
					img {
						position: relative;
						top: 0;
						left: 0;
						display: inline-block;
						width: 100%;
						height: auto;
					}
				}
				.prod_image.one{
					position: absolute;
					width: 100%;
					text-align: center;
					top: 6.5%;
					img {
						width: 230px;
					}
				}
				.prod_image.two{
					position: absolute;
					width: 100%;
					text-align: center;
					bottom: -10%;
					img {
						width: 500px;
					}
				}
				.inner.one {
					color: white;
					position: relative;
					top: 15%;
					left: 10%;
					.text{
						position: relative;
						z-index: 1;
						width: 40%;
						display: inline-block;
						p{
							width: 60%;
							&.bold{
								font-family: 'Montserrat', sans-serif;
								font-weight: 700;
								color: $main-color;
								font-size: 20pt;
								width: 100%;
							}
							&.medium{
								font-family: 'Montserrat', sans-serif;
								font-weight: 700;
								font-size: 14pt;
								font-style: italic;
								width: 100%;
							}
						}
						.shop{
							margin-top: 10px;
							background: $main-color;
							display: inline-block;
							padding: 12.5px 20px;
							font-family: 'Montserrat', sans-serif;
							font-weight: 700;
							text-decoration: none;
							color: black;
							text-transform: uppercase;
							font-style: 10pt;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
						}
					}
				}
				.inner.two{
					width: 75%;
					display: block;
					margin: 0 auto;
					color: white;
					position: absolute;
					top: 42%;
					right: 15%;
					text-align: right;
					z-index: 10;
					.text{
						h2{
							color: $main-color;
							font-family: 'Montserrat', sans-serif;
							font-weight: 700;
							text-transform: uppercase;
							font-size: 95pt;
							margin: 0;
						}
						h3{
							color: $main-color;
							font-family: 'Montserrat', sans-serif;
							font-weight: 400;
							text-transform: uppercase;
							font-size: 40pt;
							margin: 0 0 -15px 0;
						}
						p{
							width: 53%;
							float: right;
						}
					}
				}
			}
			&#two{
				position: relative;
				width: 100vw;
				min-height: 1200px;
				height: 250vh;
				display: inline-block;
				.bg_image {
					display: inline-block;
					width: 100%;
					height: 100%;
					position: relative;
					overflow: hidden;
					top: 0%;
					img {
						position: relative;
						top: 0;
						left: -5%;
						display: inline-block;
						width: auto;
						height: 100%;
					}
				}
				.inner.one {
					color: white;
					position: absolute;
					top: 10%;
					width: 30%;
					right: 10%;
					.text{
						position: relative;
						z-index: 1;
						width: 100%;
						display: inline-block;
						p{
							width: 100%;
							color: black;
							&.bold{
								font-family: 'Montserrat', sans-serif;
								font-weight: 700;
								color: $main-color;
								font-size: 20pt;
								width: 100%;
							}
							&.medium{
								font-family: 'Montserrat', sans-serif;
								font-weight: 700;
								font-size: 14pt;
								font-style: italic;
								width: 100%;
							}
						}
						.shop{
							margin-top: 10px;
							background: $main-color;
							display: inline-block;
							padding: 12.5px 20px;
							font-family: 'Montserrat', sans-serif;
							font-weight: 700;
							text-decoration: none;
							color: black;
							text-transform: uppercase;
							font-style: 10pt;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
						}
					}
				}
				.inner.two{
					width: 75%;
					display: block;
					margin: 0 auto;
					color: black;
					position: absolute;
					top: 38%;
					right: 15%;
					.text{
						h2{
							color: black;
							font-family: 'Montserrat', sans-serif;
							font-weight: 700;
							text-transform: uppercase;
							font-size: 90pt;
							margin: 0 0 20px 0;
						}
						h3{
							color: black;
							font-family: 'Montserrat', sans-serif;
							font-weight: 400;
							text-transform: uppercase;
							font-size: 38pt;
							margin: 0 0 -15px 0;
						}
						p{
							width: 50%;
						}
					}
				}
			}
		}
	}
	footer {
		position: relative;
		margin-top: -660px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		.instagram {
			display: block;
			padding: 40px 0;
			background: transparent;
			.insta_label {
				font-family: 'abril_fatfaceregular';
				font-weight: 300;
				font-size: 24pt;
				color: white;
				display: block;
				margin: 0 auto 30px;
				text-align: center;
			}
			ul {
				list-style: none;
				margin: 0;
				display: flex;
				padding: 0;
				justify-content: space-around;
				max-width: 1200px;
				margin: 0 auto;
				li {
					background: white;
					display: inline-flex;
					width: 19%;
					&:before {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}
			}
		}
		.footer_inner {
			display: flex;
			width: 95%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 30px 0;
			.footer_section {
				display: inline-flex;
				border-top: 3px solid white;
				padding-top: 30px;
				&.one {
					width: 50%;
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						li {
							display: block;
							padding: 5px 0;
							a{
								color: white;
								text-decoration: none;
								font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
								font-weight: 500;
								font-size: 11pt;
							}
						}
					}
				}
				&.two{
					display: inline-flex;
					flex-direction: column;
					width: 25%;
					color: white;
					label{
						font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
						font-weight: 500;
						text-transform: uppercase;
						width: 65%;
						margin-bottom: 5px;
					}
					input{
						background: #f2f2f2;
						border: none;
						border-radius: 5px;
						height: 40px;
						padding-left: 15px;
						margin: 5px 0;
						&[type="sign up"]{
							background: transparent;
							border: 3px solid white;
							display: inline-block;
							width: 110px;
							-webkit-border-radius: 10px;
							-moz-border-radius: 10px;
							border-radius: 10px;
							color: white;
							font-size: 10pt;
							text-align: center;
							padding: 0;
							height: 25px;
						}
					}
					.pin_logo{
						width: 50px;
						left: -10px;
						position: relative;
						img{
							width: 100%;
							height: auto;
						}
					}
				}
				&.three {
					display: inline-flex;
					flex-direction: column;
					width: 25%;
					position: relative;
					.footer_logo{
						width: 200px;
						position: absolute;
						right: 0;
						bottom: 0;
						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
}
.credits{
	display: inline-block;
	background: black;
	padding: 15px 0;
	width: 100%;
	color: white;
	.inner{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 500;
		max-width: 1200px;
		display: block;
		width:95%;
		margin: 0 auto;
		font-size: 9pt;
		a{
			color: white;
		}
	}
}







