@media screen and (max-width: 1450px){
  body.second content .section#one{height: 265vh;}
}
@media screen and (max-width: 1425px){
  body content .section#one{background-size: 150% 100%;height: 300vh;}
  body.second content .section#banner .bg_image img{top: -70%;}
}
@media screen and (max-width: 1325px){
  body content .section#banner .banner_text .main{margin-top: 0;}
  body content .section#one .prod_image.one{top: 0;}
  body.second content .section#two .bg_image img{
    width: 1400px;
  }
}
@media screen and (max-width: 1185px){
  body.second content .section#banner .bg_image img {top: -30%;}
}
@media screen and (max-width: 1150px){
  body nav{width: 90%;padding: 10px 5%;}
  body content .section#banner .bg_image img {top: -30%;}
  body content .section#banner .banner_text .main{padding-left: 5%;}
  body content .section#banner .banner_text .text{padding-left: 5%;width: 45%;}
  body content .section#one .inner.one .text{width: 30%;}
  body content .section#one .inner.one .text p{width: 90%;}
  body content .section#one .inner.two .text h2{font-size: 80pt;}
  body content .section#one .inner.two .text h3{font-size: 35pt;}
  body content .section#one .prod_image.two{bottom: -20%;}
  body content .section#two .bg_image{top: 0%;}
  body content .section#two .bg_image img {top: -50px;}
  body content .section#two .inner.one{width: 33%;right: 7%;}
  body content .section#two .inner.two{right: 20%;}
  body content .section#two .inner.two .text p{width: 60%;}
  body content .section#one {margin-bottom: -450px;}
  body.second content .section#one .inner.one .text .main .top{font-size: 30pt;}
  body.second content .section#one .inner.one .text .main .bottom{font-size: 70pt;}
  body.second content .section#one .inner.one .text p{width: 80%;}
}
@media screen and (max-width: 1075px) {
  body content .section#banner .bg_image img {top: -20%;}
  body content .section#one{background-size: 150% 100%;height: 250vh;}
  body content .section#one .prod_image.one{top: -5%;}
  body content .section#one .inner.one{left: 5%;}
  body content .section#one .inner.one .text{width: 35%;}
  body content .section#one .inner.two{top: 50%;width:85%;}
  body content .section#one .inner.two .text h2{font-size: 70pt;}
  body content .section#one .prod_image.two{bottom: -10%;text-align: left;}
  body content .section#one .prod_image.two img {width: 300px;}
  body content .section#two .bg_image{top: 0;}
  body content .section#two .inner.one{width: 55%;top: 18%;}
  body content .section#two .bg_image img{top: 130px;}
  body content .section#two .inner.one .text p.bold{margin-bottom: 5px;}
  body content .section#two .inner.one .text p.medium{margin-top: 5px;}
  body content .section#two .inner.two{width: 90%; right: 5%; left: 5%;}
  body content .section#two .inner.two .text h2{font-size: 60pt;}
  body content .section#two .inner.two .text p{width: 60%;}
}
@media screen and (max-width: 998px) {
  body content .section#banner .bg_image img {top: 0%;}
  body content .section#banner .banner_text .main .top{font-size: 55pt}
  body content .section#banner .banner_text .main .middle{font-size: 75pt}
  body content .section#banner .banner_text .main .bottom{font-size: 55pt}
  body content .section#one .inner.two{right: 5%;}
  body content .section#two .inner.two .text h2{font-size: 65pt;}
  body content .section#one .prod_image.two img{width: 300px;}
  body content .section#one .prod_image.two{bottom: -15%;}
  body.second content .section#banner .banner_text .main .top{font-size: 40pt;}
  body.second content .section#banner .banner_text .main .middle{font-size: 75pt;}
  body.second content .section#banner .banner_text .main .bottom{font-size: 40pt;}
  body.second content .section#banner .banner_text .text {width: 55%;}
  body.second content .section#one .inner.one{left: 40%;width: 70%;top: 22%;}
  body.second content .section#one .inner.two{width: 95%;}
  body.second content .section#two .inner{left: 10%;width:35%;}
}
@media screen and (max-width: 998px){
  body footer .footer_inner .footer_section.one{width: 35%;}
  body footer .footer_inner .footer_section.two{width: 35%;}
}
@media screen and (max-width: 885px) {
  body content .section#banner .bg_image img {top:-30%;width: 275%;left: -55%;}
  body.second content .section#two .bg_image{top: 0;}
  body.second content .section#two .inner{width: 65%;}
  body.second content .section#two .inner .products .prod_one img{width: 145%;}
  body.second content .section#two .inner .products .prod_two img{bottom: -35px;width: 175px;}
  body.second content .section#one .inner.two .half.two ul{
    width: 100%;
  }
  body.second content .section#one {
    height: 285vh;
  }
}
@media screen and (max-width: 810px) {
  body content .section#banner .banner_text{top: -100px;}
  body content .section#banner .bg_image img{top:0;}
  body content .section#one{background-size: 200% 80%;}
  body content .section#one .inner.two{top: 45%;width: 90%;}
  body content .section#one .inner.two .text h3{font-size: 30pt;}
  body content .section#one .inner.two .text h2{font-size: 60pt;}
  body content .section#one .inner.two .text p{width: 100%;}
  body content .section#one{margin-bottom: -650px;}
}
@media screen and (max-width:775px){
  body footer .instagram ul{flex-wrap: wrap;justify-content: space-between;width: 90%;}
  body footer .instagram ul li{width: 49%;margin-bottom: 10px;}
  body footer .footer_inner{flex-direction: column;}
  body footer .footer_inner .footer_section.one{width: 100%; text-align: center;}
  body footer .footer_inner .footer_section.one .footer-nav{width: 100%;}
  body footer .footer_inner .footer_section.two{width: 100%; margin: 50px 0 75px; text-align: center;}
  body footer .footer_inner .footer_section.two label{width: 100%;}
  body footer .footer_inner .footer_section.three{width: 100%;}
  body footer .footer_inner .footer_section{border-top: 0;}
}
@media screen and (max-width: 775px) {
  body content .section#banner .banner_text .main .top{font-size: 45pt}
  body content .section#banner .banner_text .main .middle{font-size: 65pt}
  body content .section#banner .banner_text .main .bottom{font-size: 45pt}
  body content .section#banner .banner_text .text{width: 55%}
  body content .section#one .prod_image.one{left: 5%;text-align: left;}
  body content .section#one .inner.one{left: 40%;}
  body content .section#one .inner.one .text{width: 50%;}
  body content .section#one .inner.one .text p{width: 100%;}
  body content .section#one{margin-bottom: -80%;}
  body content .section#one .prod_image.two {bottom: -5%;left: -10%;}
  body content .section#two .inner.one{width: 63%}
  body content .section#two .inner.two .text h2{font-size:65pt;}
  body content .section#two .inner.two .text p{width: 75%}
  body.second content .section#banner .bg_image img{
    top: 0px;
    width: 2500px;
    left: -610px;
    height: auto;
  }
  body.second content .section#banner .banner_text .main{line-height: 30px;}
  body.second content .section#banner .banner_text .main .top{font-size: 30pt;}
  body.second content .section#banner .banner_text .main .middle{font-size: 60pt;}
  body.second content .section#banner .banner_text .main .bottom{font-size: 30pt;}
  body.second content .section#banner .banner_text .text {width: 75%;margin-top: 50px;}
  body.second content .section#banner .banner_text .text p{font-size: 16pt;margin-bottom: 20px;line-height: 34px;}
  body.second content .section#banner .bg_image img{top: -60%;}
  body.second content .section#one{background-size: 200%;background-position: 50% -90px; height: 276vh;}
  body.second content .section#one .inner.one{left: 8%;width: 90%;}
  body.second content .section#one .inner.one .text p{width: 100%;}
  body.second content .section#one .inner.two{display:block;}
  body.second content .section#one .inner.two .half{width: 95%;}
  body.second content .section#one .inner.two .half.two{margin-top: 30px;}
  body.second content .section#one .inner.two{top:23%;}

}
@media screen and (max-width: 705px){
  body.second content .section#one {
    height: 255vh;
  }
  body.second content .section#two .bg_image img {
    height: auto;
    width: 2000px;
    left: -550px;
    top: -300px;
  }
  body.second content .section#two .inner .products {
    bottom: initial;
  }
}
@media screen and (max-width: 675px){
  body content .section#banner .banner_text .main{line-height: 20px;}
  body content .section#banner .banner_text .main .middle{line-height: 70px;}
  body content .section#one .inner.one{top: 12%;}
  body content .section#one .prod_image.two{left: -15%;}
  body content .section#one .prod_image.two img{width: 350px;}
  body content .section#two .inner.one{width: 65%;top: 15%;}
  body content .section#one .inner.two .text h3{font-size: 25pt;}
  body content .section#one .inner.two .text h2{font-size: 50pt;}
  body.second content .section#banner .bg_image img{top: -20%;}
  body.second content .section#banner .banner_text .main{
    margin-top: 65%;
  }
  body.second content .section#one .inner.one .text .main .top{
    font-size: 20pt;
  }
  body.second content .section#one .inner.one .text .main .bottom{
    font-size: 55pt;
  }
  body.second content .section#two .inner{
    width: 85%;
  }
  body.second content .section#two .bg_image{
    top: 90px;
  }
  body.second content .section#one .inner.one{
    top: 15%;
  }
  body.second content .section#one .inner.two{
    top: 15%;
  }
}
@media screen and (max-width: 600px){
  body.second content .section#one {
    height: 255vh;
  }
  body.second content .section#two .bg_image img {
    height: auto;
    width: 3500px;
    left: -1250px;
  }
  body content .section#banner .bg_image img{width: 450%;left: -140%;}
  body content .section#banner .banner_text .main{line-height: 15px;}
  body content .section#banner .banner_text .main .top{font-size: 25pt}
  body content .section#banner .banner_text .main .middle{font-size: 45pt; line-height: 55px;}
  body content .section#banner .banner_text .main .bottom{font-size: 25pt}
  body content .section#one{margin-bottom: -625px;}
  body content .section#two .bg_image img {height: auto; width: 3500px; left: -1250px;}
  body content .section#one .prod_image.one{text-align: center;}
  body content .section#one .prod_image.one img{width: 150px;}
  body content .section#one .inner.one{top: 19%;left: 5%;}
  body content .section#one .inner.one .text{width: 90%;}
  body content .section#one .inner.two{top: 47%;width: 90%;}
  body content .section#one .inner.two .text h3{font-size: 18pt;margin-bottom: 5px;}
  body content .section#one .inner.two .text h2{font-size: 35pt;}
  body content .section#two .inner.two .text h2{font-size: 60pt;}
  body content .section#one .prod_image.two{left: -20%;}
  body content .section#one .prod_image.two img{width:250px}
  body content .section#two {
    min-height: 2800px;
    height: 430vh;
  }
  body content .section#one {
    margin-bottom: -625px;
  }
  body content .section#two .inner.two {
    top: 800px;
  }
  body footer {
    margin-top: -1600px;
  }
  body content .section#two .inner.two .text h3{font-size: 20pt;}
  body content .section#two .inner.two .text h2{font-size: 40pt;}
  body content .section#two .inner.two .text p{width: 80%;}
  body.second content .section#banner .banner_text .main{line-height: 10px;}
  body.second content .section#banner .banner_text .main .top{font-size: 20pt;}
  body.second content .section#banner .banner_text .main .middle{font-size: 40pt;}
  body.second content .section#banner .banner_text .main .bottom{font-size: 20pt;}
}
@media screen and (max-width: 531px) {
  body nav ul{
    display: none;}
}
@media screen and (max-width: 490px){
  body.second content .section#one {
    background-size: 340%;
    background-position: 100% 90px;
    height: 330vh;
    min-height: 2300px;
  }
  body content .section#two .inner.one{
    top: 300px;
  }
  body.second content .section#one .inner.one .text .main{
    line-height: 50px;
  }
  body.second content .section#one .inner.one .text .main .bottom{
    font-size: 50pt;
  }
  body.second content .section#two .bg_image img{
    width: 200%;
    left: -90px;
  }
  body.second content .section#two .inner .products {
    bottom: -90%;
    transform: scale(.8);
    left: 10%;
  }
  body.second content .section#two .inner .products .shop{
    transform: scale(1.25);
  }
  body content .section#two {
    min-height: 2650px;
    height: 375vh;
  }
  body footer {
    margin-top: -1300px;
  }
  body content .section#two .inner.two .text h2{
    font-size: 35pt;
    margin-top: 15px;
  }
  body content .section#two .bg_image img {
    left: -1350px;
  }
  body content .section#two .inner.one {
    top: 250px;
  }
  body content .section#banner .banner_text .main .middle{
    font-size: 34pt;
  }
  body.second content .section#banner .bg_image {
    top: 0;
  }
  body.second content .section#banner .bg_image img {
    top: 0;
    left: -1000px;
  }
  body.second content .section#one .inner.one {
    top: 13%;
  }
  body.second content .section#one{
    margin-bottom: -200px;
  }
  body.second content .section#two .bg_image {
    top: -60px;
  }
  body.second content .section#two .bg_image img {
    width: 1500px;
    left: -460px;
  }
  body.second content .section#two .inner .products {
    top: 1000px;
    bottom: initial;
    transform: scale(0.8);
    left: 10%;
  }
  body.second content .section#two {
    min-height: 2430px;
    height: 285vh;
  }
  body.second content .section#one .inner.two .half.two ul {
    width: 90%;
  }
  body.second content .section#one .inner.two .half.two ul li {
    font-size: 20pt;
  }
  body.second content .section#two .inner{
    top: 75px;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px)  {
  body content .section#banner .bg_image img {
    top: -30%;
    width: 250%;
    left: -50%;
  }
}
@media screen and (min-width: 1475px){
  body content .section#banner .bg_image img{
    width: 4000px;
  }
  body footer{
    margin-top: -35%;
  }
  body content .section#one .prod_image.two {
    bottom: -5%
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px){
  body content .section#two .bg_image img{
    left: -30%;
  }
}
@media screen and (max-width: 1325px) and (min-height: 765px){
  body content .section#banner .bg_image img{
    width: 3100px;
    right: -1490px;
    position: absolute;
    left: inherit;
  }
}
@media screen and (max-width: 1255px) and (min-height: 765px){
  body content .section#two .bg_image img{
    right: -1750px;
    left: inherit;
    top: 0;
    width: 3500px;
    position: absolute;
  }
  body content .section#two .inner.one {
    top: 200px;
  }
}
@media screen and (max-width: 1255px) and (min-height: 765px) {

}