@media screen and (max-width: 1450px) {
  /* line 2, ../sass/media.scss */
  body.second content .section#one {
    height: 265vh;
  }
}
@media screen and (max-width: 1425px) {
  /* line 5, ../sass/media.scss */
  body content .section#one {
    background-size: 150% 100%;
    height: 300vh;
  }

  /* line 6, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -70%;
  }
}
@media screen and (max-width: 1325px) {
  /* line 9, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    margin-top: 0;
  }

  /* line 10, ../sass/media.scss */
  body content .section#one .prod_image.one {
    top: 0;
  }

  /* line 11, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    width: 1400px;
  }
}
@media screen and (max-width: 1185px) {
  /* line 16, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -30%;
  }
}
@media screen and (max-width: 1150px) {
  /* line 19, ../sass/media.scss */
  body nav {
    width: 90%;
    padding: 10px 5%;
  }

  /* line 20, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -30%;
  }

  /* line 21, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    padding-left: 5%;
  }

  /* line 22, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    padding-left: 5%;
    width: 45%;
  }

  /* line 23, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 30%;
  }

  /* line 24, ../sass/media.scss */
  body content .section#one .inner.one .text p {
    width: 90%;
  }

  /* line 25, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 80pt;
  }

  /* line 26, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 35pt;
  }

  /* line 27, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -20%;
  }

  /* line 28, ../sass/media.scss */
  body content .section#two .bg_image {
    top: 0%;
  }

  /* line 29, ../sass/media.scss */
  body content .section#two .bg_image img {
    top: -50px;
  }

  /* line 30, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 33%;
    right: 7%;
  }

  /* line 31, ../sass/media.scss */
  body content .section#two .inner.two {
    right: 20%;
  }

  /* line 32, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 60%;
  }

  /* line 33, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -450px;
  }

  /* line 34, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .top {
    font-size: 30pt;
  }

  /* line 35, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .bottom {
    font-size: 70pt;
  }

  /* line 36, ../sass/media.scss */
  body.second content .section#one .inner.one .text p {
    width: 80%;
  }
}
@media screen and (max-width: 1075px) {
  /* line 39, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -20%;
  }

  /* line 40, ../sass/media.scss */
  body content .section#one {
    background-size: 150% 100%;
    height: 250vh;
  }

  /* line 41, ../sass/media.scss */
  body content .section#one .prod_image.one {
    top: -5%;
  }

  /* line 42, ../sass/media.scss */
  body content .section#one .inner.one {
    left: 5%;
  }

  /* line 43, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 35%;
  }

  /* line 44, ../sass/media.scss */
  body content .section#one .inner.two {
    top: 50%;
    width: 85%;
  }

  /* line 45, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 70pt;
  }

  /* line 46, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -10%;
    text-align: left;
  }

  /* line 47, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 300px;
  }

  /* line 48, ../sass/media.scss */
  body content .section#two .bg_image {
    top: 0;
  }

  /* line 49, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 55%;
    top: 18%;
  }

  /* line 50, ../sass/media.scss */
  body content .section#two .bg_image img {
    top: 130px;
  }

  /* line 51, ../sass/media.scss */
  body content .section#two .inner.one .text p.bold {
    margin-bottom: 5px;
  }

  /* line 52, ../sass/media.scss */
  body content .section#two .inner.one .text p.medium {
    margin-top: 5px;
  }

  /* line 53, ../sass/media.scss */
  body content .section#two .inner.two {
    width: 90%;
    right: 5%;
    left: 5%;
  }

  /* line 54, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 60pt;
  }

  /* line 55, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 60%;
  }
}
@media screen and (max-width: 998px) {
  /* line 58, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0%;
  }

  /* line 59, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 55pt;
  }

  /* line 60, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 75pt;
  }

  /* line 61, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    font-size: 55pt;
  }

  /* line 62, ../sass/media.scss */
  body content .section#one .inner.two {
    right: 5%;
  }

  /* line 63, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 65pt;
  }

  /* line 64, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 300px;
  }

  /* line 65, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -15%;
  }

  /* line 66, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .top {
    font-size: 40pt;
  }

  /* line 67, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .middle {
    font-size: 75pt;
  }

  /* line 68, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .bottom {
    font-size: 40pt;
  }

  /* line 69, ../sass/media.scss */
  body.second content .section#banner .banner_text .text {
    width: 55%;
  }

  /* line 70, ../sass/media.scss */
  body.second content .section#one .inner.one {
    left: 40%;
    width: 70%;
    top: 22%;
  }

  /* line 71, ../sass/media.scss */
  body.second content .section#one .inner.two {
    width: 95%;
  }

  /* line 72, ../sass/media.scss */
  body.second content .section#two .inner {
    left: 10%;
    width: 35%;
  }
}
@media screen and (max-width: 998px) {
  /* line 75, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 76, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 885px) {
  /* line 79, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -30%;
    width: 275%;
    left: -55%;
  }

  /* line 80, ../sass/media.scss */
  body.second content .section#two .bg_image {
    top: 0;
  }

  /* line 81, ../sass/media.scss */
  body.second content .section#two .inner {
    width: 65%;
  }

  /* line 82, ../sass/media.scss */
  body.second content .section#two .inner .products .prod_one img {
    width: 145%;
  }

  /* line 83, ../sass/media.scss */
  body.second content .section#two .inner .products .prod_two img {
    bottom: -35px;
    width: 175px;
  }

  /* line 84, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two ul {
    width: 100%;
  }

  /* line 87, ../sass/media.scss */
  body.second content .section#one {
    height: 285vh;
  }
}
@media screen and (max-width: 810px) {
  /* line 92, ../sass/media.scss */
  body content .section#banner .banner_text {
    top: -100px;
  }

  /* line 93, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0;
  }

  /* line 94, ../sass/media.scss */
  body content .section#one {
    background-size: 200% 80%;
  }

  /* line 95, ../sass/media.scss */
  body content .section#one .inner.two {
    top: 45%;
    width: 90%;
  }

  /* line 96, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 30pt;
  }

  /* line 97, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 60pt;
  }

  /* line 98, ../sass/media.scss */
  body content .section#one .inner.two .text p {
    width: 100%;
  }

  /* line 99, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -650px;
  }
}
@media screen and (max-width: 775px) {
  /* line 102, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 103, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 104, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 105, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 106, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 107, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 108, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 109, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }

  /* line 110, ../sass/media.scss */
  body footer .footer_inner .footer_section {
    border-top: 0;
  }
}
@media screen and (max-width: 775px) {
  /* line 113, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 45pt;
  }

  /* line 114, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 65pt;
  }

  /* line 115, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    font-size: 45pt;
  }

  /* line 116, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 55%;
  }

  /* line 117, ../sass/media.scss */
  body content .section#one .prod_image.one {
    left: 5%;
    text-align: left;
  }

  /* line 118, ../sass/media.scss */
  body content .section#one .inner.one {
    left: 40%;
  }

  /* line 119, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 50%;
  }

  /* line 120, ../sass/media.scss */
  body content .section#one .inner.one .text p {
    width: 100%;
  }

  /* line 121, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -80%;
  }

  /* line 122, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -5%;
    left: -10%;
  }

  /* line 123, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 63%;
  }

  /* line 124, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 65pt;
  }

  /* line 125, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 75%;
  }

  /* line 126, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: 0px;
    width: 2500px;
    left: -610px;
    height: auto;
  }

  /* line 132, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    line-height: 30px;
  }

  /* line 133, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .top {
    font-size: 30pt;
  }

  /* line 134, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .middle {
    font-size: 60pt;
  }

  /* line 135, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .bottom {
    font-size: 30pt;
  }

  /* line 136, ../sass/media.scss */
  body.second content .section#banner .banner_text .text {
    width: 75%;
    margin-top: 50px;
  }

  /* line 137, ../sass/media.scss */
  body.second content .section#banner .banner_text .text p {
    font-size: 16pt;
    margin-bottom: 20px;
    line-height: 34px;
  }

  /* line 138, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -60%;
  }

  /* line 139, ../sass/media.scss */
  body.second content .section#one {
    background-size: 200%;
    background-position: 50% -90px;
    height: 276vh;
  }

  /* line 140, ../sass/media.scss */
  body.second content .section#one .inner.one {
    left: 8%;
    width: 90%;
  }

  /* line 141, ../sass/media.scss */
  body.second content .section#one .inner.one .text p {
    width: 100%;
  }

  /* line 142, ../sass/media.scss */
  body.second content .section#one .inner.two {
    display: block;
  }

  /* line 143, ../sass/media.scss */
  body.second content .section#one .inner.two .half {
    width: 95%;
  }

  /* line 144, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two {
    margin-top: 30px;
  }

  /* line 145, ../sass/media.scss */
  body.second content .section#one .inner.two {
    top: 23%;
  }
}
@media screen and (max-width: 705px) {
  /* line 149, ../sass/media.scss */
  body.second content .section#one {
    height: 255vh;
  }

  /* line 152, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    height: auto;
    width: 2000px;
    left: -550px;
    top: -300px;
  }

  /* line 158, ../sass/media.scss */
  body.second content .section#two .inner .products {
    bottom: initial;
  }
}
@media screen and (max-width: 675px) {
  /* line 163, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    line-height: 20px;
  }

  /* line 164, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    line-height: 70px;
  }

  /* line 165, ../sass/media.scss */
  body content .section#one .inner.one {
    top: 12%;
  }

  /* line 166, ../sass/media.scss */
  body content .section#one .prod_image.two {
    left: -15%;
  }

  /* line 167, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 350px;
  }

  /* line 168, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 65%;
    top: 15%;
  }

  /* line 169, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 25pt;
  }

  /* line 170, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 50pt;
  }

  /* line 171, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -20%;
  }

  /* line 172, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    margin-top: 65%;
  }

  /* line 175, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .top {
    font-size: 20pt;
  }

  /* line 178, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .bottom {
    font-size: 55pt;
  }

  /* line 181, ../sass/media.scss */
  body.second content .section#two .inner {
    width: 85%;
  }

  /* line 184, ../sass/media.scss */
  body.second content .section#two .bg_image {
    top: 90px;
  }

  /* line 187, ../sass/media.scss */
  body.second content .section#one .inner.one {
    top: 15%;
  }

  /* line 190, ../sass/media.scss */
  body.second content .section#one .inner.two {
    top: 15%;
  }
}
@media screen and (max-width: 600px) {
  /* line 195, ../sass/media.scss */
  body.second content .section#one {
    height: 255vh;
  }

  /* line 198, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    height: auto;
    width: 3500px;
    left: -1250px;
  }

  /* line 203, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 450%;
    left: -140%;
  }

  /* line 204, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    line-height: 15px;
  }

  /* line 205, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 25pt;
  }

  /* line 206, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 45pt;
    line-height: 55px;
  }

  /* line 207, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    font-size: 25pt;
  }

  /* line 208, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -625px;
  }

  /* line 209, ../sass/media.scss */
  body content .section#two .bg_image img {
    height: auto;
    width: 3500px;
    left: -1250px;
  }

  /* line 210, ../sass/media.scss */
  body content .section#one .prod_image.one {
    text-align: center;
  }

  /* line 211, ../sass/media.scss */
  body content .section#one .prod_image.one img {
    width: 150px;
  }

  /* line 212, ../sass/media.scss */
  body content .section#one .inner.one {
    top: 19%;
    left: 5%;
  }

  /* line 213, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 90%;
  }

  /* line 214, ../sass/media.scss */
  body content .section#one .inner.two {
    top: 47%;
    width: 90%;
  }

  /* line 215, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 18pt;
    margin-bottom: 5px;
  }

  /* line 216, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 35pt;
  }

  /* line 217, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 60pt;
  }

  /* line 218, ../sass/media.scss */
  body content .section#one .prod_image.two {
    left: -20%;
  }

  /* line 219, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 250px;
  }

  /* line 220, ../sass/media.scss */
  body content .section#two {
    min-height: 2800px;
    height: 430vh;
  }

  /* line 224, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -625px;
  }

  /* line 227, ../sass/media.scss */
  body content .section#two .inner.two {
    top: 800px;
  }

  /* line 230, ../sass/media.scss */
  body footer {
    margin-top: -1600px;
  }

  /* line 233, ../sass/media.scss */
  body content .section#two .inner.two .text h3 {
    font-size: 20pt;
  }

  /* line 234, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 40pt;
  }

  /* line 235, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 80%;
  }

  /* line 236, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    line-height: 10px;
  }

  /* line 237, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .top {
    font-size: 20pt;
  }

  /* line 238, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .middle {
    font-size: 40pt;
  }

  /* line 239, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .bottom {
    font-size: 20pt;
  }
}
@media screen and (max-width: 531px) {
  /* line 242, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  /* line 246, ../sass/media.scss */
  body.second content .section#one {
    background-size: 340%;
    background-position: 100% 90px;
    height: 330vh;
    min-height: 2300px;
  }

  /* line 252, ../sass/media.scss */
  body content .section#two .inner.one {
    top: 300px;
  }

  /* line 255, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main {
    line-height: 50px;
  }

  /* line 258, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .bottom {
    font-size: 50pt;
  }

  /* line 261, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    width: 200%;
    left: -90px;
  }

  /* line 265, ../sass/media.scss */
  body.second content .section#two .inner .products {
    bottom: -90%;
    transform: scale(0.8);
    left: 10%;
  }

  /* line 270, ../sass/media.scss */
  body.second content .section#two .inner .products .shop {
    transform: scale(1.25);
  }

  /* line 273, ../sass/media.scss */
  body content .section#two {
    min-height: 2650px;
    height: 375vh;
  }

  /* line 277, ../sass/media.scss */
  body footer {
    margin-top: -1300px;
  }

  /* line 280, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 35pt;
    margin-top: 15px;
  }

  /* line 284, ../sass/media.scss */
  body content .section#two .bg_image img {
    left: -1350px;
  }

  /* line 287, ../sass/media.scss */
  body content .section#two .inner.one {
    top: 250px;
  }

  /* line 290, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 34pt;
  }

  /* line 293, ../sass/media.scss */
  body.second content .section#banner .bg_image {
    top: 0;
  }

  /* line 296, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: 0;
    left: -1000px;
  }

  /* line 300, ../sass/media.scss */
  body.second content .section#one .inner.one {
    top: 13%;
  }

  /* line 303, ../sass/media.scss */
  body.second content .section#one {
    margin-bottom: -200px;
  }

  /* line 306, ../sass/media.scss */
  body.second content .section#two .bg_image {
    top: -60px;
  }

  /* line 309, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    width: 1500px;
    left: -460px;
  }

  /* line 313, ../sass/media.scss */
  body.second content .section#two .inner .products {
    top: 1000px;
    bottom: initial;
    transform: scale(0.8);
    left: 10%;
  }

  /* line 319, ../sass/media.scss */
  body.second content .section#two {
    min-height: 2430px;
    height: 285vh;
  }

  /* line 323, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two ul {
    width: 90%;
  }

  /* line 326, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two ul li {
    font-size: 20pt;
  }

  /* line 329, ../sass/media.scss */
  body.second content .section#two .inner {
    top: 75px;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px) {
  /* line 334, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -30%;
    width: 250%;
    left: -50%;
  }
}
@media screen and (min-width: 1475px) {
  /* line 341, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 4000px;
  }

  /* line 344, ../sass/media.scss */
  body footer {
    margin-top: -35%;
  }

  /* line 347, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -5%;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px) {
  /* line 352, ../sass/media.scss */
  body content .section#two .bg_image img {
    left: -30%;
  }
}
@media screen and (max-width: 1325px) and (min-height: 765px) {
  /* line 357, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 3100px;
    right: -1490px;
    position: absolute;
    left: inherit;
  }
}
@media screen and (max-width: 1255px) and (min-height: 765px) {
  /* line 365, ../sass/media.scss */
  body content .section#two .bg_image img {
    right: -1750px;
    left: inherit;
    top: 0;
    width: 3500px;
    position: absolute;
  }

  /* line 372, ../sass/media.scss */
  body content .section#two .inner.one {
    top: 200px;
  }
}
