/* line 1, ../sass/home.scss */
html {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-x: hidden;
}

/* line 8, ../sass/home.scss */
body {
  width: 100%;
  color: black;
  background: white;
  padding: 0;
  margin: 0;
}
/* line 14, ../sass/home.scss */
body nav {
  position: relative;
  z-index: 1;
  width: 80%;
  padding: 10px 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 22, ../sass/home.scss */
body nav .site-branding {
  display: inline-block;
  width: 250px;
}
/* line 25, ../sass/home.scss */
body nav .site-branding img {
  width: 100%;
  height: auto;
}
/* line 30, ../sass/home.scss */
body nav ul {
  display: inline-flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 45%;
}
/* line 38, ../sass/home.scss */
body nav ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 41, ../sass/home.scss */
body nav ul li a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 16pt;
}
/* line 55, ../sass/home.scss */
body.second content .section#banner {
  height: 100vh;
}
/* line 58, ../sass/home.scss */
body.second content .section#banner .bg_image img {
  top: -275px;
}
/* line 61, ../sass/home.scss */
body.second content .section#banner .banner_text .main {
  margin-top: 25%;
}
/* line 63, ../sass/home.scss */
body.second content .section#banner .banner_text .main .middle {
  font-size: 90pt;
  font-weight: 700;
}
/* line 68, ../sass/home.scss */
body.second content .section#banner .banner_text .text {
  width: 30%;
  margin-top: 100px;
}
/* line 71, ../sass/home.scss */
body.second content .section#banner .banner_text .text p {
  font-size: 18pt;
  margin-bottom: 20px;
  line-height: 42px;
  text-indent: 0;
}
/* line 76, ../sass/home.scss */
body.second content .section#banner .banner_text .text p.medium {
  font-size: 22pt;
  font-weight: 700;
  margin-bottom: 0px;
}
/* line 85, ../sass/home.scss */
body.second content .section#one {
  background: url(../img/black_bg_reverse.png) no-repeat;
  background-size: 100% 100%;
  height: 200vh;
  margin-bottom: 0;
}
/* line 91, ../sass/home.scss */
body.second content .section#one .inner.one {
  left: 50%;
  width: 50%;
  top: 20%;
}
/* line 95, ../sass/home.scss */
body.second content .section#one .inner.one .text {
  width: 100%;
}
/* line 97, ../sass/home.scss */
body.second content .section#one .inner.one .text .main {
  text-transform: uppercase;
  color: #62d2ec;
  line-height: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  display: inline-block;
}
/* line 104, ../sass/home.scss */
body.second content .section#one .inner.one .text .main .top {
  font-weight: 700;
  font-size: 35pt;
}
/* line 108, ../sass/home.scss */
body.second content .section#one .inner.one .text .main .bottom {
  font-weight: 700;
  font-size: 85pt;
}
/* line 113, ../sass/home.scss */
body.second content .section#one .inner.one .text p {
  width: 75%;
}
/* line 118, ../sass/home.scss */
body.second content .section#one .inner.two {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  top: 25%;
  right: 0;
  display: flex;
  position: relative;
  justify-content: space-around;
}
/* line 127, ../sass/home.scss */
body.second content .section#one .inner.two .half {
  display: inline-flex;
  width: 50%;
  text-align: left;
}
/* line 132, ../sass/home.scss */
body.second content .section#one .inner.two .half.one blockquote {
  color: #62d2ec;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-size: 30pt;
  font-weight: 700;
  margin: 0;
  width: 85%;
}
/* line 143, ../sass/home.scss */
body.second content .section#one .inner.two .half.two {
  border-left: 5px solid #62d2ec;
  padding-left: 50px;
}
/* line 146, ../sass/home.scss */
body.second content .section#one .inner.two .half.two ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 65%;
}
/* line 151, ../sass/home.scss */
body.second content .section#one .inner.two .half.two ul li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25pt;
  margin-bottom: 20px;
}
/* line 164, ../sass/home.scss */
body.second content .section#two {
  margin-top: -10%;
}
/* line 166, ../sass/home.scss */
body.second content .section#two .bg_image {
  display: inline-block;
  width: 100%;
  height: 115%;
  position: relative;
  margin-top: -15%;
}
/* line 172, ../sass/home.scss */
body.second content .section#two .bg_image img {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 181, ../sass/home.scss */
body.second content .section#two .inner {
  left: 15%;
  width: 25%;
  top: -100px;
  position: absolute;
  z-index: 10;
  height: 100%;
}
/* line 188, ../sass/home.scss */
body.second content .section#two .inner .main {
  line-height: 80px;
  text-transform: uppercase;
}
/* line 191, ../sass/home.scss */
body.second content .section#two .inner .main .top {
  font-weight: 400;
  font-size: 45pt;
}
/* line 195, ../sass/home.scss */
body.second content .section#two .inner .main .bottom {
  font-weight: 700;
  font-size: 90pt;
}
/* line 200, ../sass/home.scss */
body.second content .section#two .inner .products {
  position: absolute;
  top: 1140px;
  left: -10px;
}
/* line 204, ../sass/home.scss */
body.second content .section#two .inner .products .prod_one {
  position: absolute;
  bottom: 0;
}
/* line 207, ../sass/home.scss */
body.second content .section#two .inner .products .prod_one img {
  position: relative;
  left: -10px;
  bottom: 0;
}
/* line 213, ../sass/home.scss */
body.second content .section#two .inner .products .prod_two {
  position: absolute;
  bottom: 0;
}
/* line 216, ../sass/home.scss */
body.second content .section#two .inner .products .prod_two img {
  position: relative;
  bottom: -60px;
  width: 250px;
  left: 125px;
}
/* line 223, ../sass/home.scss */
body.second content .section#two .inner .products .shop {
  top: 50px;
  position: relative;
  background: #62d2ec;
  display: inline-block;
  padding: 12.5px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-style: 10pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 245, ../sass/home.scss */
body content {
  display: inline-block;
  overflow: hidden;
}
/* line 248, ../sass/home.scss */
body content .section {
  display: flex;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 256, ../sass/home.scss */
body content .section .main {
  color: black;
  line-height: 100px;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
}
/* line 262, ../sass/home.scss */
body content .section p {
  font-size: 15pt;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
/* line 268, ../sass/home.scss */
body content .section#banner {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
/* line 275, ../sass/home.scss */
body content .section#banner:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background: black;
}
/* line 284, ../sass/home.scss */
body content .section#banner .bg_image {
  display: inline-block;
  width: 100%;
  height: auto;
  position: absolute;
  overflow-x: hidden;
  top: 0;
}
/* line 291, ../sass/home.scss */
body content .section#banner .bg_image img {
  position: relative;
  top: -50%;
  left: -27.5%;
  display: inline-block;
  width: 215%;
  height: auto;
}
/* line 300, ../sass/home.scss */
body content .section#banner .banner_text {
  position: relative;
  z-index: 1;
  width: 100%;
}
/* line 304, ../sass/home.scss */
body content .section#banner .banner_text .main {
  text-transform: uppercase;
  padding-left: 10%;
  margin-top: 5%;
}
/* line 308, ../sass/home.scss */
body content .section#banner .banner_text .main .top {
  font-weight: 400;
  font-size: 55pt;
}
/* line 312, ../sass/home.scss */
body content .section#banner .banner_text .main .middle {
  font-weight: 700;
  font-size: 95pt;
}
/* line 316, ../sass/home.scss */
body content .section#banner .banner_text .main .bottom {
  font-weight: 400;
  font-size: 55pt;
}
/* line 321, ../sass/home.scss */
body content .section#banner .banner_text .text {
  margin-top: 45px;
  padding-left: 10%;
  width: 38%;
}
/* line 325, ../sass/home.scss */
body content .section#banner .banner_text .text p {
  margin: 0 0;
  text-indent: 5px;
}
/* line 332, ../sass/home.scss */
body content .section#one {
  position: relative;
  width: 100vw;
  height: 350vh;
  min-height: 1750px;
  z-index: 1;
  margin-bottom: -40%;
  background: url("../img/black_bg.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}
/* line 342, ../sass/home.scss */
body content .section#one .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  z-index: 0;
}
/* line 349, ../sass/home.scss */
body content .section#one .bg_image img {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 358, ../sass/home.scss */
body content .section#one .prod_image.one {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 6.5%;
}
/* line 363, ../sass/home.scss */
body content .section#one .prod_image.one img {
  width: 230px;
}
/* line 367, ../sass/home.scss */
body content .section#one .prod_image.two {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -10%;
}
/* line 372, ../sass/home.scss */
body content .section#one .prod_image.two img {
  width: 500px;
}
/* line 376, ../sass/home.scss */
body content .section#one .inner.one {
  color: white;
  position: relative;
  top: 15%;
  left: 10%;
}
/* line 381, ../sass/home.scss */
body content .section#one .inner.one .text {
  position: relative;
  z-index: 1;
  width: 40%;
  display: inline-block;
}
/* line 386, ../sass/home.scss */
body content .section#one .inner.one .text p {
  width: 60%;
}
/* line 388, ../sass/home.scss */
body content .section#one .inner.one .text p.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #62d2ec;
  font-size: 20pt;
  width: 100%;
}
/* line 395, ../sass/home.scss */
body content .section#one .inner.one .text p.medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  font-style: italic;
  width: 100%;
}
/* line 403, ../sass/home.scss */
body content .section#one .inner.one .text .shop {
  margin-top: 10px;
  background: #62d2ec;
  display: inline-block;
  padding: 12.5px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-style: 10pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 420, ../sass/home.scss */
body content .section#one .inner.two {
  width: 75%;
  display: block;
  margin: 0 auto;
  color: white;
  position: absolute;
  top: 42%;
  right: 15%;
  text-align: right;
  z-index: 10;
}
/* line 431, ../sass/home.scss */
body content .section#one .inner.two .text h2 {
  color: #62d2ec;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 95pt;
  margin: 0;
}
/* line 439, ../sass/home.scss */
body content .section#one .inner.two .text h3 {
  color: #62d2ec;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40pt;
  margin: 0 0 -15px 0;
}
/* line 447, ../sass/home.scss */
body content .section#one .inner.two .text p {
  width: 53%;
  float: right;
}
/* line 454, ../sass/home.scss */
body content .section#two {
  position: relative;
  width: 100vw;
  min-height: 1200px;
  height: 250vh;
  display: inline-block;
}
/* line 460, ../sass/home.scss */
body content .section#two .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0%;
}
/* line 467, ../sass/home.scss */
body content .section#two .bg_image img {
  position: relative;
  top: 0;
  left: -5%;
  display: inline-block;
  width: auto;
  height: 100%;
}
/* line 476, ../sass/home.scss */
body content .section#two .inner.one {
  color: white;
  position: absolute;
  top: 10%;
  width: 30%;
  right: 10%;
}
/* line 482, ../sass/home.scss */
body content .section#two .inner.one .text {
  position: relative;
  z-index: 1;
  width: 100%;
  display: inline-block;
}
/* line 487, ../sass/home.scss */
body content .section#two .inner.one .text p {
  width: 100%;
  color: black;
}
/* line 490, ../sass/home.scss */
body content .section#two .inner.one .text p.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #62d2ec;
  font-size: 20pt;
  width: 100%;
}
/* line 497, ../sass/home.scss */
body content .section#two .inner.one .text p.medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  font-style: italic;
  width: 100%;
}
/* line 505, ../sass/home.scss */
body content .section#two .inner.one .text .shop {
  margin-top: 10px;
  background: #62d2ec;
  display: inline-block;
  padding: 12.5px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-style: 10pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 522, ../sass/home.scss */
body content .section#two .inner.two {
  width: 75%;
  display: block;
  margin: 0 auto;
  color: black;
  position: absolute;
  top: 38%;
  right: 15%;
}
/* line 531, ../sass/home.scss */
body content .section#two .inner.two .text h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 90pt;
  margin: 0 0 20px 0;
}
/* line 539, ../sass/home.scss */
body content .section#two .inner.two .text h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 38pt;
  margin: 0 0 -15px 0;
}
/* line 547, ../sass/home.scss */
body content .section#two .inner.two .text p {
  width: 50%;
}
/* line 555, ../sass/home.scss */
body footer {
  position: relative;
  margin-top: -660px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, transparent 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
}
/* line 563, ../sass/home.scss */
body footer .instagram {
  display: block;
  padding: 40px 0;
  background: transparent;
}
/* line 567, ../sass/home.scss */
body footer .instagram .insta_label {
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
  font-size: 24pt;
  color: white;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
/* line 576, ../sass/home.scss */
body footer .instagram ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 584, ../sass/home.scss */
body footer .instagram ul li {
  background: white;
  display: inline-flex;
  width: 19%;
}
/* line 588, ../sass/home.scss */
body footer .instagram ul li:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 596, ../sass/home.scss */
body footer .footer_inner {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 602, ../sass/home.scss */
body footer .footer_inner .footer_section {
  display: inline-flex;
  border-top: 3px solid white;
  padding-top: 30px;
}
/* line 606, ../sass/home.scss */
body footer .footer_inner .footer_section.one {
  width: 50%;
}
/* line 608, ../sass/home.scss */
body footer .footer_inner .footer_section.one ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 612, ../sass/home.scss */
body footer .footer_inner .footer_section.one ul li {
  display: block;
  padding: 5px 0;
}
/* line 615, ../sass/home.scss */
body footer .footer_inner .footer_section.one ul li a {
  color: white;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 11pt;
}
/* line 625, ../sass/home.scss */
body footer .footer_inner .footer_section.two {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  color: white;
}
/* line 630, ../sass/home.scss */
body footer .footer_inner .footer_section.two label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 65%;
  margin-bottom: 5px;
}
/* line 637, ../sass/home.scss */
body footer .footer_inner .footer_section.two input {
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-left: 15px;
  margin: 5px 0;
}
/* line 644, ../sass/home.scss */
body footer .footer_inner .footer_section.two input[type="sign up"] {
  background: transparent;
  border: 3px solid white;
  display: inline-block;
  width: 110px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  font-size: 10pt;
  text-align: center;
  padding: 0;
  height: 25px;
}
/* line 659, ../sass/home.scss */
body footer .footer_inner .footer_section.two .pin_logo {
  width: 50px;
  left: -10px;
  position: relative;
}
/* line 663, ../sass/home.scss */
body footer .footer_inner .footer_section.two .pin_logo img {
  width: 100%;
  height: auto;
}
/* line 669, ../sass/home.scss */
body footer .footer_inner .footer_section.three {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  position: relative;
}
/* line 674, ../sass/home.scss */
body footer .footer_inner .footer_section.three .footer_logo {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 679, ../sass/home.scss */
body footer .footer_inner .footer_section.three .footer_logo img {
  width: 100%;
  height: auto;
}

/* line 689, ../sass/home.scss */
.credits {
  display: inline-block;
  background: black;
  padding: 15px 0;
  width: 100%;
  color: white;
}
/* line 695, ../sass/home.scss */
.credits .inner {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  max-width: 1200px;
  display: block;
  width: 95%;
  margin: 0 auto;
  font-size: 9pt;
}
/* line 703, ../sass/home.scss */
.credits .inner a {
  color: white;
}

@media screen and (max-width: 1450px) {
  /* line 2, ../sass/media.scss */
  body.second content .section#one {
    height: 265vh;
  }
}
@media screen and (max-width: 1425px) {
  /* line 5, ../sass/media.scss */
  body content .section#one {
    background-size: 150% 100%;
    height: 300vh;
  }

  /* line 6, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -70%;
  }
}
@media screen and (max-width: 1325px) {
  /* line 9, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    margin-top: 0;
  }

  /* line 10, ../sass/media.scss */
  body content .section#one .prod_image.one {
    top: 0;
  }

  /* line 11, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    width: 1400px;
  }
}
@media screen and (max-width: 1185px) {
  /* line 16, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -30%;
  }
}
@media screen and (max-width: 1150px) {
  /* line 19, ../sass/media.scss */
  body nav {
    width: 90%;
    padding: 10px 5%;
  }

  /* line 20, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -30%;
  }

  /* line 21, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    padding-left: 5%;
  }

  /* line 22, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    padding-left: 5%;
    width: 45%;
  }

  /* line 23, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 30%;
  }

  /* line 24, ../sass/media.scss */
  body content .section#one .inner.one .text p {
    width: 90%;
  }

  /* line 25, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 80pt;
  }

  /* line 26, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 35pt;
  }

  /* line 27, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -20%;
  }

  /* line 28, ../sass/media.scss */
  body content .section#two .bg_image {
    top: 0%;
  }

  /* line 29, ../sass/media.scss */
  body content .section#two .bg_image img {
    top: -50px;
  }

  /* line 30, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 33%;
    right: 7%;
  }

  /* line 31, ../sass/media.scss */
  body content .section#two .inner.two {
    right: 20%;
  }

  /* line 32, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 60%;
  }

  /* line 33, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -450px;
  }

  /* line 34, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .top {
    font-size: 30pt;
  }

  /* line 35, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .bottom {
    font-size: 70pt;
  }

  /* line 36, ../sass/media.scss */
  body.second content .section#one .inner.one .text p {
    width: 80%;
  }
}
@media screen and (max-width: 1075px) {
  /* line 39, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -20%;
  }

  /* line 40, ../sass/media.scss */
  body content .section#one {
    background-size: 150% 100%;
    height: 250vh;
  }

  /* line 41, ../sass/media.scss */
  body content .section#one .prod_image.one {
    top: -5%;
  }

  /* line 42, ../sass/media.scss */
  body content .section#one .inner.one {
    left: 5%;
  }

  /* line 43, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 35%;
  }

  /* line 44, ../sass/media.scss */
  body content .section#one .inner.two {
    top: 50%;
    width: 85%;
  }

  /* line 45, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 70pt;
  }

  /* line 46, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -10%;
    text-align: left;
  }

  /* line 47, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 300px;
  }

  /* line 48, ../sass/media.scss */
  body content .section#two .bg_image {
    top: 0;
  }

  /* line 49, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 55%;
    top: 18%;
  }

  /* line 50, ../sass/media.scss */
  body content .section#two .bg_image img {
    top: 130px;
  }

  /* line 51, ../sass/media.scss */
  body content .section#two .inner.one .text p.bold {
    margin-bottom: 5px;
  }

  /* line 52, ../sass/media.scss */
  body content .section#two .inner.one .text p.medium {
    margin-top: 5px;
  }

  /* line 53, ../sass/media.scss */
  body content .section#two .inner.two {
    width: 90%;
    right: 5%;
    left: 5%;
  }

  /* line 54, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 60pt;
  }

  /* line 55, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 60%;
  }
}
@media screen and (max-width: 998px) {
  /* line 58, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0%;
  }

  /* line 59, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 55pt;
  }

  /* line 60, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 75pt;
  }

  /* line 61, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    font-size: 55pt;
  }

  /* line 62, ../sass/media.scss */
  body content .section#one .inner.two {
    right: 5%;
  }

  /* line 63, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 65pt;
  }

  /* line 64, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 300px;
  }

  /* line 65, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -15%;
  }

  /* line 66, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .top {
    font-size: 40pt;
  }

  /* line 67, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .middle {
    font-size: 75pt;
  }

  /* line 68, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .bottom {
    font-size: 40pt;
  }

  /* line 69, ../sass/media.scss */
  body.second content .section#banner .banner_text .text {
    width: 55%;
  }

  /* line 70, ../sass/media.scss */
  body.second content .section#one .inner.one {
    left: 40%;
    width: 70%;
    top: 22%;
  }

  /* line 71, ../sass/media.scss */
  body.second content .section#one .inner.two {
    width: 95%;
  }

  /* line 72, ../sass/media.scss */
  body.second content .section#two .inner {
    left: 10%;
    width: 35%;
  }
}
@media screen and (max-width: 998px) {
  /* line 75, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 76, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 885px) {
  /* line 79, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -30%;
    width: 275%;
    left: -55%;
  }

  /* line 80, ../sass/media.scss */
  body.second content .section#two .bg_image {
    top: 0;
  }

  /* line 81, ../sass/media.scss */
  body.second content .section#two .inner {
    width: 65%;
  }

  /* line 82, ../sass/media.scss */
  body.second content .section#two .inner .products .prod_one img {
    width: 145%;
  }

  /* line 83, ../sass/media.scss */
  body.second content .section#two .inner .products .prod_two img {
    bottom: -35px;
    width: 175px;
  }

  /* line 84, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two ul {
    width: 100%;
  }

  /* line 87, ../sass/media.scss */
  body.second content .section#one {
    height: 285vh;
  }
}
@media screen and (max-width: 810px) {
  /* line 92, ../sass/media.scss */
  body content .section#banner .banner_text {
    top: -100px;
  }

  /* line 93, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: 0;
  }

  /* line 94, ../sass/media.scss */
  body content .section#one {
    background-size: 200% 80%;
  }

  /* line 95, ../sass/media.scss */
  body content .section#one .inner.two {
    top: 45%;
    width: 90%;
  }

  /* line 96, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 30pt;
  }

  /* line 97, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 60pt;
  }

  /* line 98, ../sass/media.scss */
  body content .section#one .inner.two .text p {
    width: 100%;
  }

  /* line 99, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -650px;
  }
}
@media screen and (max-width: 775px) {
  /* line 102, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 103, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 104, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 105, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 106, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 107, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 108, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 109, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }

  /* line 110, ../sass/media.scss */
  body footer .footer_inner .footer_section {
    border-top: 0;
  }
}
@media screen and (max-width: 775px) {
  /* line 113, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 45pt;
  }

  /* line 114, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 65pt;
  }

  /* line 115, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    font-size: 45pt;
  }

  /* line 116, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 55%;
  }

  /* line 117, ../sass/media.scss */
  body content .section#one .prod_image.one {
    left: 5%;
    text-align: left;
  }

  /* line 118, ../sass/media.scss */
  body content .section#one .inner.one {
    left: 40%;
  }

  /* line 119, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 50%;
  }

  /* line 120, ../sass/media.scss */
  body content .section#one .inner.one .text p {
    width: 100%;
  }

  /* line 121, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -80%;
  }

  /* line 122, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -5%;
    left: -10%;
  }

  /* line 123, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 63%;
  }

  /* line 124, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 65pt;
  }

  /* line 125, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 75%;
  }

  /* line 126, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: 0px;
    width: 2500px;
    left: -610px;
    height: auto;
  }

  /* line 132, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    line-height: 30px;
  }

  /* line 133, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .top {
    font-size: 30pt;
  }

  /* line 134, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .middle {
    font-size: 60pt;
  }

  /* line 135, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .bottom {
    font-size: 30pt;
  }

  /* line 136, ../sass/media.scss */
  body.second content .section#banner .banner_text .text {
    width: 75%;
    margin-top: 50px;
  }

  /* line 137, ../sass/media.scss */
  body.second content .section#banner .banner_text .text p {
    font-size: 16pt;
    margin-bottom: 20px;
    line-height: 34px;
  }

  /* line 138, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -60%;
  }

  /* line 139, ../sass/media.scss */
  body.second content .section#one {
    background-size: 200%;
    background-position: 50% -90px;
    height: 276vh;
  }

  /* line 140, ../sass/media.scss */
  body.second content .section#one .inner.one {
    left: 8%;
    width: 90%;
  }

  /* line 141, ../sass/media.scss */
  body.second content .section#one .inner.one .text p {
    width: 100%;
  }

  /* line 142, ../sass/media.scss */
  body.second content .section#one .inner.two {
    display: block;
  }

  /* line 143, ../sass/media.scss */
  body.second content .section#one .inner.two .half {
    width: 95%;
  }

  /* line 144, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two {
    margin-top: 30px;
  }

  /* line 145, ../sass/media.scss */
  body.second content .section#one .inner.two {
    top: 23%;
  }
}
@media screen and (max-width: 705px) {
  /* line 149, ../sass/media.scss */
  body.second content .section#one {
    height: 255vh;
  }

  /* line 152, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    height: auto;
    width: 2000px;
    left: -550px;
    top: -300px;
  }

  /* line 158, ../sass/media.scss */
  body.second content .section#two .inner .products {
    bottom: initial;
  }
}
@media screen and (max-width: 675px) {
  /* line 163, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    line-height: 20px;
  }

  /* line 164, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    line-height: 70px;
  }

  /* line 165, ../sass/media.scss */
  body content .section#one .inner.one {
    top: 12%;
  }

  /* line 166, ../sass/media.scss */
  body content .section#one .prod_image.two {
    left: -15%;
  }

  /* line 167, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 350px;
  }

  /* line 168, ../sass/media.scss */
  body content .section#two .inner.one {
    width: 65%;
    top: 15%;
  }

  /* line 169, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 25pt;
  }

  /* line 170, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 50pt;
  }

  /* line 171, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: -20%;
  }

  /* line 172, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    margin-top: 65%;
  }

  /* line 175, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .top {
    font-size: 20pt;
  }

  /* line 178, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .bottom {
    font-size: 55pt;
  }

  /* line 181, ../sass/media.scss */
  body.second content .section#two .inner {
    width: 85%;
  }

  /* line 184, ../sass/media.scss */
  body.second content .section#two .bg_image {
    top: 90px;
  }

  /* line 187, ../sass/media.scss */
  body.second content .section#one .inner.one {
    top: 15%;
  }

  /* line 190, ../sass/media.scss */
  body.second content .section#one .inner.two {
    top: 15%;
  }
}
@media screen and (max-width: 600px) {
  /* line 195, ../sass/media.scss */
  body.second content .section#one {
    height: 255vh;
  }

  /* line 198, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    height: auto;
    width: 3500px;
    left: -1250px;
  }

  /* line 203, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 450%;
    left: -140%;
  }

  /* line 204, ../sass/media.scss */
  body content .section#banner .banner_text .main {
    line-height: 15px;
  }

  /* line 205, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    font-size: 25pt;
  }

  /* line 206, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 45pt;
    line-height: 55px;
  }

  /* line 207, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    font-size: 25pt;
  }

  /* line 208, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -625px;
  }

  /* line 209, ../sass/media.scss */
  body content .section#two .bg_image img {
    height: auto;
    width: 3500px;
    left: -1250px;
  }

  /* line 210, ../sass/media.scss */
  body content .section#one .prod_image.one {
    text-align: center;
  }

  /* line 211, ../sass/media.scss */
  body content .section#one .prod_image.one img {
    width: 150px;
  }

  /* line 212, ../sass/media.scss */
  body content .section#one .inner.one {
    top: 19%;
    left: 5%;
  }

  /* line 213, ../sass/media.scss */
  body content .section#one .inner.one .text {
    width: 90%;
  }

  /* line 214, ../sass/media.scss */
  body content .section#one .inner.two {
    top: 47%;
    width: 90%;
  }

  /* line 215, ../sass/media.scss */
  body content .section#one .inner.two .text h3 {
    font-size: 18pt;
    margin-bottom: 5px;
  }

  /* line 216, ../sass/media.scss */
  body content .section#one .inner.two .text h2 {
    font-size: 35pt;
  }

  /* line 217, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 60pt;
  }

  /* line 218, ../sass/media.scss */
  body content .section#one .prod_image.two {
    left: -20%;
  }

  /* line 219, ../sass/media.scss */
  body content .section#one .prod_image.two img {
    width: 250px;
  }

  /* line 220, ../sass/media.scss */
  body content .section#two {
    min-height: 2800px;
    height: 430vh;
  }

  /* line 224, ../sass/media.scss */
  body content .section#one {
    margin-bottom: -625px;
  }

  /* line 227, ../sass/media.scss */
  body content .section#two .inner.two {
    top: 800px;
  }

  /* line 230, ../sass/media.scss */
  body footer {
    margin-top: -1600px;
  }

  /* line 233, ../sass/media.scss */
  body content .section#two .inner.two .text h3 {
    font-size: 20pt;
  }

  /* line 234, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 40pt;
  }

  /* line 235, ../sass/media.scss */
  body content .section#two .inner.two .text p {
    width: 80%;
  }

  /* line 236, ../sass/media.scss */
  body.second content .section#banner .banner_text .main {
    line-height: 10px;
  }

  /* line 237, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .top {
    font-size: 20pt;
  }

  /* line 238, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .middle {
    font-size: 40pt;
  }

  /* line 239, ../sass/media.scss */
  body.second content .section#banner .banner_text .main .bottom {
    font-size: 20pt;
  }
}
@media screen and (max-width: 531px) {
  /* line 242, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  /* line 246, ../sass/media.scss */
  body.second content .section#one {
    background-size: 340%;
    background-position: 100% 90px;
    height: 330vh;
    min-height: 2300px;
  }

  /* line 252, ../sass/media.scss */
  body content .section#two .inner.one {
    top: 300px;
  }

  /* line 255, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main {
    line-height: 50px;
  }

  /* line 258, ../sass/media.scss */
  body.second content .section#one .inner.one .text .main .bottom {
    font-size: 50pt;
  }

  /* line 261, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    width: 200%;
    left: -90px;
  }

  /* line 265, ../sass/media.scss */
  body.second content .section#two .inner .products {
    bottom: -90%;
    transform: scale(0.8);
    left: 10%;
  }

  /* line 270, ../sass/media.scss */
  body.second content .section#two .inner .products .shop {
    transform: scale(1.25);
  }

  /* line 273, ../sass/media.scss */
  body content .section#two {
    min-height: 2650px;
    height: 375vh;
  }

  /* line 277, ../sass/media.scss */
  body footer {
    margin-top: -1300px;
  }

  /* line 280, ../sass/media.scss */
  body content .section#two .inner.two .text h2 {
    font-size: 35pt;
    margin-top: 15px;
  }

  /* line 284, ../sass/media.scss */
  body content .section#two .bg_image img {
    left: -1350px;
  }

  /* line 287, ../sass/media.scss */
  body content .section#two .inner.one {
    top: 250px;
  }

  /* line 290, ../sass/media.scss */
  body content .section#banner .banner_text .main .middle {
    font-size: 34pt;
  }

  /* line 293, ../sass/media.scss */
  body.second content .section#banner .bg_image {
    top: 0;
  }

  /* line 296, ../sass/media.scss */
  body.second content .section#banner .bg_image img {
    top: 0;
    left: -1000px;
  }

  /* line 300, ../sass/media.scss */
  body.second content .section#one .inner.one {
    top: 13%;
  }

  /* line 303, ../sass/media.scss */
  body.second content .section#one {
    margin-bottom: -200px;
  }

  /* line 306, ../sass/media.scss */
  body.second content .section#two .bg_image {
    top: -60px;
  }

  /* line 309, ../sass/media.scss */
  body.second content .section#two .bg_image img {
    width: 1500px;
    left: -460px;
  }

  /* line 313, ../sass/media.scss */
  body.second content .section#two .inner .products {
    top: 1000px;
    bottom: initial;
    transform: scale(0.8);
    left: 10%;
  }

  /* line 319, ../sass/media.scss */
  body.second content .section#two {
    min-height: 2430px;
    height: 285vh;
  }

  /* line 323, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two ul {
    width: 90%;
  }

  /* line 326, ../sass/media.scss */
  body.second content .section#one .inner.two .half.two ul li {
    font-size: 20pt;
  }

  /* line 329, ../sass/media.scss */
  body.second content .section#two .inner {
    top: 75px;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px) {
  /* line 334, ../sass/media.scss */
  body content .section#banner .bg_image img {
    top: -30%;
    width: 250%;
    left: -50%;
  }
}
@media screen and (min-width: 1475px) {
  /* line 341, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 4000px;
  }

  /* line 344, ../sass/media.scss */
  body footer {
    margin-top: -35%;
  }

  /* line 347, ../sass/media.scss */
  body content .section#one .prod_image.two {
    bottom: -5%;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px) {
  /* line 352, ../sass/media.scss */
  body content .section#two .bg_image img {
    left: -30%;
  }
}
@media screen and (max-width: 1325px) and (min-height: 765px) {
  /* line 357, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 3100px;
    right: -1490px;
    position: absolute;
    left: inherit;
  }
}
@media screen and (max-width: 1255px) and (min-height: 765px) {
  /* line 365, ../sass/media.scss */
  body content .section#two .bg_image img {
    right: -1750px;
    left: inherit;
    top: 0;
    width: 3500px;
    position: absolute;
  }

  /* line 372, ../sass/media.scss */
  body content .section#two .inner.one {
    top: 200px;
  }
}
